.menu {
  background: rgb(70, 24, 63);
  background: linear-gradient(90deg, rgba(70, 24, 63, 1) 0%, rgba(170, 77, 158, 1) 100%);

  height: 100px;
  display: flex;

  align-items: center;
  justify-content: space-around;

}

.logo-nombre {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-right: 1rem;
  margin-top: 2rem;

}

.logo-personal {
  width: 4.5rem;
  margin-left: 30px;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.h1-nombre-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.h1-header1 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: bold;
  font-size: 1.3rem;

  color: $colorBlanco;

  margin-left: 1rem;
  margin-top: 1.3rem;
}

.h1-header2 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: bold;
  font-size: 1.4rem;

  color: $colorBlanco;

  margin-left: 1rem;
  margin-bottom: 2rem;
}

.navbar {
  background-color: none !important;

  .active {
    background-color: $colorMoradoClaro;
  }

  .nav-link {
    color: $colorBlanco;

    font-family: "Lato", sans-serif;
    font-style: light;
    font-weight: 400;
    font-size: 1.1rem;
  }

  .nav-link:hover {
    background-color: $colorRosaClaro ;
  }

  .navbar-toggler {
    background-color: $colorBlanco;
  }

}

@media (max-width: 988px) {
  .menu {
    height: auto;
  }
}