.main-index {
    background-color: rgb(245, 245, 245);
}

.columna1 {
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center
    
}

.h2-index1 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 1rem;
}

.h2-index2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    text-align: center;
    color: rgb(0, 0, 0);
}

.ul-botones-index {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
}

.li-botones-index {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
} 

.a-boton-index {
    text-decoration: none;
    text-decoration-line: none;

    color: rgb(255, 255, 255);
    background-color: $colorNaranja;

    border: 0.5rem solid $colorNaranja;
    border-radius: 5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1 rem;
}

.foto-index {
    width: 25rem;
}

.columna3 {
    background-color: $colorNaranja;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p-home {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: light;
    font-size: 1.2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.p-home1 {
    padding-top: 0.8rem;
}

.h3-index {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    padding-bottom: 0.8rem;
}
