.cards-servicios {
    padding: 2rem;
    background: rgb(223, 146, 88);
    background: linear-gradient(0deg, rgba(223, 146, 88, 1) 68%, rgba(228, 192, 129, 1) 100%);


    .card {
        min-height: 750px;
        transition: all 300ms ease;

        .card-img-top {
            width: 100%;
        }

        .card-title {
            font-family: "Lato", sans-serif;
            font-weight: 700;
            font-style: bold;
            font-size: 1.3rem;
        }

        .card-text {
            font-family: "Lato", sans-serif;
            font-weight: 300;
            font-style: light;
            font-size: 1.1rem
        }
    }

    .card:hover {
        transform: scale(1.04);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 50);
    }
}