.cards-servicios {
    padding: 2rem;
    background: rgb(223,146,88);
    background: linear-gradient(0deg, rgba(223,146,88,1) 68%, rgba(228,192,129,1) 100%); 

    .card {
        min-height: 750px; 
    
        .card-title {
            font-family: "Lato", sans-serif;
            font-weight: 700;
            font-style: bold;
            font-size: 1.3rem;
        }

        .card-text {
            font-family: "Lato", sans-serif;
            font-weight: 300;
            font-style: light;
            font-size: 1.1rem
        }

    }
}