.sobremi-wrapper {
    min-height: 66vh;

    .foto-titulo {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;


        img {
            min-width: 40vh;
            max-width: 60vh;
        }

        h1 {
            font-family: "Lato", sans-serif;
            font-weight: 400;
            font-style: bold;
            font-size: 2.5rem;
            text-align: left;
            padding-bottom: 4rem;
        }
    }

    .texto {
        padding: 3rem;
        background: rgb(231, 166, 189);
        background: linear-gradient(0deg, rgba(231, 166, 189, 1) 0%, rgba(240, 208, 219, 1) 40%);
        text-align: justify;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-style: light;
        font-size: 1rem;
        text-align: justify;

        h3 {
            font-size: 1.1rem;
        }
    }
}


@media (min-width: 932px) {
    .sobremi-wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}