.sobremi-wrapper {
    min-height: 66vh;

    .foto-titulo {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
       

        img {
            min-width: 30vh;
            max-width: 60vh;
        }

        h1 {
            font-family: "Lato", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 2.5rem;
            text-align: left;
            padding-bottom: 4rem;
        }
    }

    .texto {
        padding: 5rem;
        background-color: $colorRosaClaro;
        text-align: justify;
    }
}


@media (min-width: 932px) {
    .sobremi-wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}