$colorMorado: rgb(116, 44, 106);
$colorMoradoOscuro: rgb(92, 31, 83);
$colorMoradoClaro: rgb(208, 134, 198, 6);
$colorVerdeOscuro: rgb(9, 112, 115);
$colorVerde: rgb(73, 141, 143);
$colorNaranja: rgb(223, 146, 88);
$colorRosaOscuro: rgb(219, 72, 115);
$colorRosaClaro: rgb(240, 208, 219);
$colorBlanco: rgb(255, 255, 255);