
$colorMorado:rgb(116, 44, 106);
$colorMoradoClaro:rgb(208, 134, 198, 6);
$colorMoradoOscuro:rgb(92, 31, 83);
$colorBlanco: rgb(255, 255, 255);
$colorVerdeOscuro:rgb(9, 112, 115);
$colorVerde:rgb(73, 141, 143);
$colorNaranja:rgb(223, 146, 88);
$colorRosaClaro:rgb(240, 208, 219)